<!doctype html>
@model IEnumerable<Metalurgica.Models.Mapeamento.Cliente>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metalizza Metalúrgica | Bem Vindos</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<body>

    <header>



        <!---->
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li> @Html.ActionLink("Pagina Inicial", "Index", "Home")</li>
                    <li>@Html.ActionLink("Soluções", "Index", "Solucoes")</li>
                    <li> @Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Contato", "Index", "Contato")</a></li>
                    <li>@Html.ActionLink("Sobre", "Index", "Sobre")</li>
                    <li>@Html.ActionLink("Parceiros", "Index", "Cliente")</li>


                </ul>
            </div>
            <div class="top-bar-center">
                <ul class="menu">

                    <img src="~/Models/Imagens/Metalizza/Metalizza lgo.png" />

                </ul>
            </div>
        </div>


        <div class="row column">
            <h4 style="margin: 0;" class="text-center">Nossos Parceiros</h4>
        </div>

        <br>

        <hr>



    </header>


    <div class="row small-up-3 medium-up-4 large-4">


        @foreach (var item in Model)
        {
        <tr>
            <div class="column">

            <td>

                <img src="~/Models/Imagens/Clientes/@Html.DisplayFor(modelItem => item.Imagem)" />
                <figcaption>

                    <p><b>Empresa: </b> Descrição: @Html.DisplayFor(modelItem => item.Nome)</p>
                    <p> <b>Quantidade de Clientes:</b> @Html.DisplayFor(modelItem => item.QuantidadeClientes)</p>
                    <p><b> @Html.DisplayFor(modelItem => item.Cidade)- @Html.DisplayFor(modelItem => item.Estado)</b></p>
                    
                </figcaption>

            </td>
        </div>
        </tr>}
        </div>

        <!-- / sub rodapé-->

        <div class="top-bar">
            
            <div class="large-8 left-align">
                <h5>Metalizza Metalúrgica</h5>
                <p>
                    <br>A política adotada é voltada pela transparência, equidade e máximo respeito, norteando a busca pelo desenvolvimento sustentável e inovação que dão suporte à serenidade dos negócios.</br>
                </p>
            </div>

            <div class="medium-6 columns">
                <ul class="menu left-align">
                    <li class="menu-text">Copyright Metalizza S.A </li>
                </ul>
            </div>

            <div class="medium-6 columns">
                <ul class="menu">

                    <li> @Html.ActionLink("Pagina Inicial", "Index", "Home")</li>
                    <li>@Html.ActionLink("Soluções", "Index", "Solucoes")</li>
                    <li> @Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Contato", "Index", "Contato")</a></li>
                    <li>@Html.ActionLink("Sobre", "Index", "Sobre")</li>
                    <li>@Html.ActionLink("Parceiros", "Index", "Cliente")</li>

                </ul>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>$(document).foundation();</script>
</body>
</html>
