<!doctype html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metalizza Metalúrgica | Falha Delete Produtos </title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>

<body>

    <header>



        <!---->
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li> @Html.ActionLink("Pagina Inicial", "Index", "Home")</li>
                    <li>@Html.ActionLink("Soluções", "Index", "Solucoes")</li>
                    <li> @Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Contato", "Index", "Contato")</a></li>
                    <li>@Html.ActionLink("Sobre", "Index", "Sobre")</li>
                    <li>@Html.ActionLink("Parceiros", "Index", "Cliente")</li>


                </ul>
            </div>
            <div class="top-bar-center">
                <ul class="menu">

                    <img src="~/Models/Imagens/Metalizza/Metalizza lgo.png" />

                </ul>
            </div>
        </div>


        <div class="row column">
            <h4 style="margin: 0;" class="text-center">Ops! Erro ao Excluir Item!</h4>


        </div>


        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>$(document).foundation();</script>
  
        
        </body>
</html>
