@model Metalurgica.Models.Mapeamento.Catalogo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metalizza Metalúrgica | Detalhes do Item </title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>


<body>

    <header>



        <!---->
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li> @Html.ActionLink("Pagina Inicial", "Index", "Home")</li>
                    <li>@Html.ActionLink("Soluções", "Index", "Solucoes")</li>
                    <li> @Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Contato", "Index", "Contato")</a></li>
                    <li>@Html.ActionLink("Sobre", "Index", "Sobre")</li>
                    <li>@Html.ActionLink("Parceiros", "Index", "Cliente")</li>


                </ul>
            </div>
            <div class="top-bar-center">
                <ul class="menu">

                    <img src="~/Models/Imagens/Metalizza/Metalizza lgo.png" />

                </ul>
            </div>
        </div>


        <div class="row column">
            <h4 style="margin: 0;" class="text-center">@Html.DisplayFor(model => model.Nome)</h4>

        </div>

    </header>



    <div class="row small-up-3">

        <div class="column text-center">
            <img src="@Html.DisplayFor(model => model.Imagem)" />
        </div>

    </div>

    <div class="row small-up-3 medium-up-4 large-4">
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Descriçao Item:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Setor):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Setor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Material.DescricaoMaterial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Material.DescricaoMaterial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Detalhes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Detalhes)
                </dd>

            </dl>
        </div>

    </div>



    <div class="top-bar">

        <div class="large-8 left-align">
            <h5>Metalizza Metalúrgica</h5>
            <p>
                <br>A política adotada é voltada pela transparência, equidade e máximo respeito, norteando a busca pelo desenvolvimento sustentável e inovação que dão suporte à serenidade dos negócios.</br>
            </p>
        </div>

        <div class="medium-6 columns">
            <ul class="menu left-align">
                <li class="menu-text">Copyright Metalizza S.A </li>
            </ul>
        </div>

        <div class="medium-6 columns">
            <ul class="menu">

                <li> @Html.ActionLink("Pagina Inicial", "Index", "Home")</li>
                <li>@Html.ActionLink("Soluções", "Index", "Solucoes")</li>
                <li> @Html.ActionLink("Produtos", "Index", "Produto")</li>
                <li>@Html.ActionLink("Contato", "Index", "Contato")</a></li>
                <li>@Html.ActionLink("Sobre", "Index", "Sobre")</li>
                <li>@Html.ActionLink("Parceiros", "Index", "Cliente")</li>

            </ul>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>$(document).foundation();</script>

</body>

